{% extends 'base.html' %} 

{% block title %}Home{% endblock %}

{% block content %}

<section>
  <!--Hero Image Setup-->
  <div class="hero-image">
    <div class="caption">
      <span id="title" class="border"></span>
      <br />
      <br />
      <span id="subtitle" class="border" style="visibility: hidden"></span>
    </div>
  </div>
</section>

<section class="important rounded">
  <!--Important Green Section-->
  <div class="container" style="padding-top: 30px">
    <h2 class="display-4">Hello, my name is <strong>Grant!</strong></h2>

    <br />

    <p>
      I am a self-taught software developer with a <strong>PASSION</strong> for
      learning and creating. My journey started back in 2018, when I first
      wanted to get into iOS programming. I had a <strong>CURIOSITY</strong> for
      development, but figured programming was for people with a background in technology. 
      Please, have a look at my
      <a href="https://github.com/G-Sivley">github</a> or view my projects on
      this portfolio.
    </p>
    <p>
      I am also a student pharmacist, looking to <strong>IMPROVE</strong> the profession through programming and optimization.
      There are many ways that the industry can be improved, but am actively working to become a <strong>VALUABLE</strong> asset to my future team.
    </p>
  </div>
</section>

<section class="skills rounded green-border">
  <!--Skills Section-->
  <div class="">
    <div class="row">
      <div class="col-sm">
        <h2 style="justify-content: center">Languages</h2>
        <ul>
          <li>Swift</li>
          <li>Python</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>SQL</li>
          <li>Jinja</li>
        </ul>
      </div>
      <div class="col-sm content-middle">
        <h2>Technologies</h2>

        <ul>
          <li>Visual Studio Code</li>
          <li>VIM</li>
          <li>Xcode</li>
          <li>GitHub</li>
          <li>Figma</li>
          <li>Terminal</li>
          <li>Flask</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="col-sm">
        <h2>Skills</h2>

        <ul>
          <li>MVC</li>
          <li>Organization</li>
          <li>OOP Design</li>
          <li>Problem Solving</li>
          <li>Self Motivation</li>
          <li>Communication Skills</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
